<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="jumbotron">

    <h1>Dassian [Program Name] About</h1>
    <p>This page simulates another backbone template</p>

    <p class="muted">
        You are viewing this application on
        {{#if mobile}}
        {{!"mobile" key in i18n file}}
        <strong>{{$ mobile}}</strong>
        {{else}}
        {{!"desktop" key in i18n file}}
        <strong>{{$ desktop}}</strong>
        {{/if}}.
    </p>
    <p>Part of the <a href="https:github.com/BoilerplateMVC/">BoilerplateMVC suite</a>.</p>
    <p>{{yeller "Marionette is great"}}</p>
</div>
</div>
