<div class="container col-md-12">
<div class="jumbotron">
    <h1>{{#if title}}{{title}}{{else}} {{Welcome}} {{/if}}
        {{#if user}}Hello {{user.username}}, {{else}} Hello. {{/if}}
        </h1>
    <h2>Using Marionette Js, Require Js, Boilerplate</h2>
    <p>Boilerplate Marionette application to help you get started with the best tools and best practices</p>

    <p class="muted">
        You are viewing this application on
        {{#if mobile}}
        {{!"mobile" key in i18n file}}
        <strong>{{$ mobile}}</strong>
        {{else}}
        {{!"desktop" key in i18n file}}
        <strong>{{$ desktop}}</strong>
        {{/if}}.
    </p>
    <p>Part of the <a href="https:github.com/BoilerplateMVC/">BoilerplateMVC suite</a>.</p>
    <p>{{yeller "Marionette is great"}}</p>
</div>
</div>